# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# IDE
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc

# Coverage / test
.coverage
.pytest_cache/

# Local databases
*.db

# OS
.DS_Store
